// -- resolutions
$xs: 0;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1800;

// -- colors
$colorBlue: #1f2d40;
$colorBlueDark: #0e1823;
$colorWhite: #f5f5f5;
$colorBlueNavy: #1a2433;
$colorBlueLight: #38577f;