@import '../../styles/global.scss';

.containerRight{
  width: 205rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include responsive($xs, $lg){
    width: 100%!important;
    height: 100%!important;
  }

  .containerResults{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('../../assets/car-wireframe-multiply.jpg') no-repeat center;
    padding: em(70) em(115);
    overflow-y: auto;
    background-size: cover;
    @include responsive($xs, $lg){
      padding: em(50) em(15)!important;

    }

    .itemList{
      width: 100%;
      padding: em(45) em(50);
      @include responsive($xs, $lg){
        padding: em(25) em(15);
      }
      .line{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: em(10);
        &:first-child{
          margin-top: 0;
        }
        @include responsive($xs, $lg){
          flex-direction: column;
        }
      }
      .carName,
      .carInfo,
      .ano,
      .preco{
        @extend .fontRoboto;
        color: $colorWhite;
        font-size: em(25);
        @include responsive($xs, $lg){
          font-size: em(20);
          margin-top: em(10);
          &:first-child{
            margin-top: 0;
          }
        }
      }
      .carInfo,
      .ano{
        font-size: em(18);
        @include responsive($xs, $lg){
          font-size: em(16);
        }
      }
      @include animate(.2);
      &:hover{
        @include animate(.4);
        background: rgba($colorWhite, .1);
      }
    }
    .divisor{
      display: block;
      width: 100%;
      height: 1px;
      background: $colorWhite;
      opacity: .3;
    }
    .emptyList{
      padding: em(100) em(280);
      display: flex;
      justify-content: center;
      @include responsive($xs, $lg){
        padding: em(50) em(15);
      }
      h1{
        @extend .fontLobster;
        font-size: em(120);
        text-align: right;
        line-height: em(150);
        @include responsive($xs, $lg){
          font-size: em(45);
          line-height: em(60);
        }
        span{
          background-color: rgba($colorBlueLight, .7);
          padding: 0 em(35);
        }
      }
    }
  }
}