@import '../../styles/global.scss';

.containerRight{
  width: 205rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .containerResults{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('../../assets/car-wireframe-multiply.jpg') no-repeat center;
    padding: em(70) em(115);
    overflow-y: auto;
    background-size: cover;
    .titleInfoForm{
      @extend .fontRoboto;
      font-size: em(25);
      margin-bottom: em(40);
    }
    .form{
      padding: 0 em(35);
      .line{
        display: flex;
        margin-top: em(60);
        &:first-child{
          margin-top: 0;
        }
        .field{
          display: flex;
          width: 100%;
          padding: 0 em(40);
          &.flexEnd{
            justify-content: flex-end;
          }
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }
          input, select{
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid $colorWhite;
            height: em(70);
            color: $colorWhite;
            @extend .fontRoboto;
            font-size: em(30);
            padding-left: em(20);
            padding-right: em(20);
            @include placeholder{
              color: $colorWhite;
            }
          }
          select{
            border: 1px solid $colorWhite;
            border-radius: 8px;
          }
          .btnAction{
            padding: em(18) em(38);
            background: none;
            border: 1px solid $colorWhite;
            border-radius: 8px;
            color: $colorWhite;
            @extend .fontRoboto;
            font-weight: 700;
            font-size: em(25);
            margin-right: em(20);
            &:last-child{
              margin-right: 0;
            }

            &.inverter{
              background: $colorWhite;
              color: $colorBlueDark;
            }
          }
        }
      }
    }
  }
}